body {
	margin:10;
	
}



.cajas{
	border: 1px solid #CCC;
	


}


.caja1{
	background-color:	#FFFF00;
	height: 100px;
	width: 25%;
	
}



.caja2{
	background-color:#0099CC;
	height: 100px;
	width: 25%;
	



}


.caja3{
	background-color:#FF0066;
	height: 100px;
	width: 25%;
	
